.product-nav{
    .w-33{
        border-left: 1px solid $neutral-gary-lh;
        border-right: 1px solid $neutral-gary-lh;
        // border 要寫在父層的 li 上，才不會被 .tab-hover 的 border-bottom 8px 給擋住，但是要另外建立 class 還是寫在 .w-33 上呢？
    }
}

.tab-hover{
    font-family: $roboto;
    font-size: $text-m-2;
    font-weight: 500;
    color: $neutral-gary-bk;
    border-bottom: 8px solid $neutral-gary-wh;
    &:hover{
        border-bottom: 8px solid $tertiary;
        color: $primary;
        background-color: $tertiary;
        transition:  ease-in-out 0.1s;
    }
    // &:focus{
    //     border-bottom: 8px solid $primary;
    //     color: $neutral-gary-bk;
    //     background-color: $neutral-gary-wh;
    //     transition:  ease-in-out 0.1s;
    // }   
}

.tab-active{
    border-bottom: 8px solid $primary;
}

// banner

.mb-product-ad-01, .mb-product-ad-02{
    display: none;
}

// product list

.product-box{
    flex-wrap: wrap;
}

.page-title{
    font-family: $roboto;
    font-size: $text-lg-2;
    font-weight: 500;
}

.page-subtitle{
    font-size: $text-m-2;
}

.product-number{
    font-family: $roboto;
    font-size: $text-m;
}

.product-price{
    font-family: $roboto;
    font-size: $text-m;
    font-weight: 500;
    color: $primary;
}

.product-color{
    background-color: #5F3E2D;
    border-radius: 4px;
    &:focus{
        outline: 2px solid $neutral-gary-bk;
    }
}

.brown{
    background-color: #B75929;
}

// .pagination{
//     border: 1px solid $neutral-gary-gr;
// }

.pg-pn-hover{
    font-family: $roboto;
    font-size: 18px;
    color: $neutral-gary-gr;
    padding: 12px 12px;
    // 更改了上下的 padding，原本 padding-top 是 11px，如果不更改會跟旁邊的頁面 1.2.3.按鈕有 1px 的高度落差，並且字級設計稿上是 19px，改成 18px。
    &:hover{
        background-color: $neutral-gary-lher;
    }
}

// .pg-prev, .pg-next{
//     border: 1px solid $neutral-gary-gr;
// }

.hover-bk{
    padding: 12px 16px;
    font-family: $roboto;
    color: $neutral-gary-gr;
    font-size: 18px;
    &:hover{
        color: $neutral-gary-wh;
        background-color: $neutral-gary-bk;
    }
    &:focus{
        color: $neutral-gary-wh;
        background-color: $neutral-gary-bk;
    }
}

.pg-li{
    border-width: 1px 1px 1px 0px;
    border-color: $neutral-gary-gr;
    border-style: solid;
}

.pg-li:nth-child(1){
    border-left: 1px solid $neutral-gary-gr;
    // 上一頁按鈕的 border
}

.pg-li:nth-child(7){
    border-left: 1px solid $neutral-gary-gr;
    // 下一頁按鈕的 border
}

.pg-li:nth-child(6){
    border-right: 0px solid $neutral-gary-gr;
    font-size: 60px;
}

.pagination-box{
    padding-top: 0;
}



// Tablet 平板

@media (max-width: 992px){
    .product-nav{
        .tab-hover{
            font-size: $text-xs;
        }
        .pt-24{
            padding-top: 16px;
        }

        .pb-16{
            padding-bottom: 8px;
        }

        .container{
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .pc-product-ad-01, .pc-product-ad-02{
        display: none;
    }

    .mb-product-ad-01, .mb-product-ad-02{
        display: block;
    }

    .product-box{
        .col-3{
            width: 50%;
            margin-bottom: 40px;
            }    
        }
    }


// Mobile 

@media (max-width: 767px){

    .main{
        padding-top: 40px;
    }

    .tab-hover{
        font-size: 1rem;
    }

    .product-box{
        .col-3{
            width: 100%;
        }

        .mb-80{
            margin-bottom: 24px;
        }
    }

    .page-title, .page-subtitle{
        font-size: $text-m;
    }

    .product-box{
        .col-3:last-child{
        margin-bottom: 0px;
        }  
    }

    .pg-pn-hover{
        font-size: $text-xs;
        padding: 12px 11px;
    }

    .hover-bk{
        font-size: $text-xs;
        padding: 12px 15px;
    }

    .pagination-box{
        padding-top: 64px;
        padding-bottom: 64px;
    }

}

// Mobile 360*740

@media (max-width: 360px){
    .pg-pn-hover{
        font-size: $text-xs;
        padding: 12px 8px;
    }

    .hover-bk{
        font-size: $text-xs;
        padding: 12px 8px;
    }
}